body{
    background-color: #949494;
}
#homepagenav{
    /* width: 1900px; */
    height: 32px;
    border: black 1px;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    background-color: gray;
    margin: auto;
}
.navlinks{
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
}
.navlinks:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    background-color: lightgray;
    text-decoration: none;
    opacity: 0.5;
}
.space{
    padding-top: 10px;
    /* background-color: rgb(135, 12, 3); */
    background-color: black;
}
#linkHolders{
    /* background-color: grey; */
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 800px;
    height: 800px;
    margin: auto;
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color: red;
}
.emimgnav{
    width: 140px;
    position: relative;
    float: left;
    top: -30px;
    right: 30px;
}
.rlimgnav{
    width: 140px;
    position: relative;
    float: right;
    top: -30px;
    width: 80px;
    height: 80px;
}